.user_image{
    width: 50px;
    height: 50px;
    border: 1px solid black ;
    border-radius: 50%;
}

.icons-list {
    border-left: 1px solid #b7b8bb;
}

.route
 :hover {

    background-color: #b7b8bb;
    border-radius: 17px;

}
.logo{
    width: 260px;
    height: 100px;  
}

/* Media Queries */
@media (max-width: 576px) {
    .navbar-toggler {
      display: block;
    }
  
    .navbar-collapse {
      display: none;
    }
  
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0,0,0,0.5)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
    
    .navbar-collapse.show {
      display: block;
      background-color: black;

    }
  
    .breadcrumb {
      font-size: 0.9rem;
    }
  }
  
 .notification-icons{
    border-left: 1px solid #b7b8bb;
 }
 @media (max-width: 576px) {
    .notification-icons {
      display: none;
    }
    .drops{
        padding-left: 2rem;
    }
    .routes{
        padding-left: 2rem;
    }
    .route .nav-link:active{
        width: fit-content;
        padding: 10px;
    }
  }
  .active{
    background-color: #b7b8bb;
    border-radius: 17px;
  }
  
  @media (min-width: 576px) {
    .notification-icons {
      display: block;
    }
  }

  .shadow-navbar {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }

  i{
    cursor: pointer;
  }

  .fixed-header-placeholder {
    height: 100px;
  }
  .navbar {
    height: 100px; 
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  .fixed-header-placeholder {
    height: 100px; 
  }
  
  @media (min-width: 576px) {
    .link-general{
    width: fit-content;
    margin-left: 10px;
    padding: 10px;
    margin-top: 6px;
}
}